/*
UNIVERSAL SELECTOR
*/
* {
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
}
/*
MAIN Container
*/

.container {
    width: 95%;
    margin: auto;
}

/*
MAIN HEADING & Title
*/

.main-header{
    background-color: #2d3945;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 10px;
}

.sign-up{
    text-align: center;
    border-bottom: 3px black solid;
    padding:  10px 0 30px 0;
    width: 95%;
    margin: auto;
}

h2{
    color: #313a42;
    font-weight: 900;
}

.sign-up span{
    opacity: 0.5;
}

/*
FORM
*/

fieldset{
    margin-top: 5px;
    border: none;
    border-top: solid 2px black;
    display: flex;
    flex-direction: column;
    padding: 0;
}

label{
    opacity: 0.6;
}

fieldset div{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.contact label{
    padding-bottom: 5px;
}

.contact input,
.contact select {
    background-color: #eff0f1;
    border: none;
    padding: 10px;
}