/*
UNIVERSAL SELECTOR
*/
* {
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
}
/*
MAIN Container
*/

.container,
.sign-up {
    width: 95%;
    margin: auto;
}

/*
MAIN HEADING & Title
*/

.main-header{
    background-color: #2d3945;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 10px;
}

.sign-up{
    text-align: center;
    border-bottom: 3px black solid;
    padding:  10px 0 30px 0;
    margin: auto;
    background-color: lightgray;
}

h2{
    color: #313a42;
    font-weight: 900;
}

.sign-up span{
    opacity: 0.5;
}

/*
FORM
*/
legend {
    font-weight: bold;
    float: left;
    margin-bottom: .5em;
    margin-top: 20px;
    font-size: 1.17rem;
    width: 100%;
}


fieldset{
    margin: 5px 0px 20px 0px;
    border: none;
    border-top: solid 2px black;
    display: flex;
    flex-direction: column;
    padding: 0;
}

label, p{
    opacity: 0.6;
}

fieldset div{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.contact label{
    padding-bottom: 5px;
}

.contact input,
.contact select,
.newsletter textarea {
    background-color: #eff0f1;
    border: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

.contact input[id="zip"]{
    width: 50%;
}

.contact input::placeholder,
.contact select{
    font-size: small;
    text-align: right;
    font-style: italic;
    opacity: 0.5;
}

.newsletter div{
    display: flex;
    flex-direction: row;
}

.newsletter input{
    margin-right: 10px;
    margin-top: 3px;
    padding-top: 10px;
    vertical-align: top;
}

label[for="other"] {
    margin: 10px 0px;
}

button{
    font-weight: 700;
    color: white;
    background-color: #4ebbb5;
    width: 100%;
    border: none;
    margin: 30px 0px;
    padding: 20px;
    border-radius: 10px;
}

button:hover{
    opacity: 0.5;
}

footer{
    opacity: 0.5;
    text-align: center;
    font-style: italic;
}

/*
Transitions
*/

.contact input:focus,
.newsletter textarea:focus{
    background-color: lightblue;
    outline: none !important;
    box-shadow: 0 0 5px lightgray;
}


/*
MEDIA Queries
*/

@media (min-width: 768px) {

    .container,
    .sign-up {
        width: 70%;
        margin: auto;
    }

    fieldset div{
        flex-direction: row;    
        justify-content: left;
    }

    .contact div input,
    .contact div select{
        flex: 2;
    }

    .contact div label{
        align-self: center;
        flex: 1;
        max-width: 175px;
    }


    #zip{
        flex: 1;
        align-self: left;
        max-width: 300px;
    }



}